<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/jpg" href="static/img/favicon.png" />
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

    <script src="https://kit.fontawesome.com/554dc6a5fd.js" crossorigin="anonymous"></script>
    <title> <%= title %> </title>

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                    <i class="fa-solid fa-user-secret"></i>
                </div>
                <div class="sidebar-brand-text mx-3">BugTracktor</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/new-bug">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>New Ticket</span></a>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Pages
            </div>
            
            <li class="nav-item active">
                <a class="nav-link" href="/account">
                    <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                    <i class="fa-solid fa-user-astronaut"></i>
                    <span>Account</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/help">
                    <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                    <i class="fa-solid fa-circle-question"></i>
                    <span>How to use?</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->

            <% if (isAuthenticatedHeader) {%>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">
                        <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>logout</span>
                    </a>
                </li>
                <% } else {%>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Log in/out | Register</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>


                        
                        <a class="collapse-item" href="/login">Login</a>
                        <a class="collapse-item" href="/register">Register</a>
                    </div>
                </div>
            </li>
            <% } %> 

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/all-bugs">
                    <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                    <i class="fa-solid fa-bug"></i>
                    <span>All Bugs</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/projects">
                    <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                    <i class="fa-solid fa-diagram-project"></i>
                    <span>Projects</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/about">
                    <i class="fa-solid fa-meteor"></i>
                    <span>About the Project</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 /static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto">
                            </li>
                        </ul>
                    </div>
                    <div class="mx-auto order-0">
                        <a class="navbar-brand mx-auto" href="#">Bug Tracker</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <% if (isAuthenticatedHeader) {%>
                                    <a class="nav-link" href="/logout">Logout</a>
                                    <% } else {%>
                                    <a class="nav-link" href="/login">Login</a>
                                <% } %> 
                                
                            </li>
                        </ul>
                        <i class="fa-solid fa-circle-user mr-3"></i>
                        
                        
                    </div>
                    <!-- Topbar Search -->
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                    
                </nav>
                <!-- End of Topbar -->
