<%- include('partials/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800 pl-2">About this project</h1>

        <div class="card">
            <div class="card-header">
                <strong>BugTracktor</strong> - a simple bug tracker
            </div>
            <div class="card-body">
                <div class="m-4">

                    <i class="fa-2xl fa-brands fa-node-js" style=" color : green"></i> <span class="mr-2">NodeJs</span>
                    <i class="fa-2xl fa-brands fa-js-square" style=" color : #ffc018"></i> <span
                        class="mr-2">JavaScript</span>
                    <i class="fa-2xl fa-solid fa-e" style=" color : grey"></i> <span class="mr-2">Express</span>
                    <i class="fa-2xl fa-brands fa-envira" style="color : green"></i> <span class="mr-2">MongoDB</span>
                    <i class="fa-2xl fa-brands fa-aws" style="color: darkorange;"></i> <span class="mr-2">
                        AWS</span>
                    <i class="fa-2xl fa-brands fa-git-alt" style="color : darkred"></i> <span class="mr-2">Git</span>
                    <i class="fa-2xl fa-solid fa-h" style=" color : purple"></i> <span class="mr-2">Heroku</span>
                    <i class="fa-2xl fa-brands fa-bootstrap" style=" color : purple"></i> <span
                        class="mr-2">Bootstrap</span>
                </div>
                <p class="card-text m-4 mt-5">
                <h1 id="bugtracktor">BugTracktor</h1>
                <p><img width="1000"
                        src="https://user-images.githubusercontent.com/60319236/176384851-93f8568d-7c7e-4af6-a3c0-351f7dd708a6.png"
                        alt="bugtracktor"></p>
                <p><br></p>
                <p>BugTracktor is a bug tracking software made using <strong>NodeJS</strong>. Users can sign
                    up and add bugs that show up during development and assign them to other users to work
                    on. It has the ability to host multiple projects, each project containing its own bugs.
                </p>
                <p>The database used was MongoDB with the help of Mongoose ❤️. The database is deployed on a
                    live <strong>MongoDB Atlas</strong> server which intern hosts the database on
                    <strong>AWS</strong>. The app itself is deployed on <strong>Heroku</strong>.
                    <br>
                </p>
                <br>
                <h2 id="-strong-i-used-this-app-to-track-the-bugs-that-i-have-faced-while-coding-it-strong-">
                    💪 <strong> I used this app to track the bugs that I have faced while coding it</strong>
                </h2>
                <p><img width="1000" alt="bugtrackerview"
                        src="https://user-images.githubusercontent.com/60319236/176515733-28bf06e8-2462-4549-834d-ac6327d51f10.png">
                </p>
                <p><br></p>
                <h1 id="-things-i-learned-never-used-before-to-deploy-in-10-days-">🧠 Things I
                    Learned...[never used before to deploy in 10 days]:</h1>
                <table style="border: 0.5px solid;">
                    <thead>
                        <tr>
                            <th style="border: 0.5px dotted;">MongoDB</th>
                            <th style="border: 0.5px dotted;">JS</th>
                            <th style="border: 0.5px dotted;">DOM &amp; EJS</th>
                            <th style="border: 0.5px dotted;">Heroku</th>
                            <th style="border: 0.5px dotted;">Bootstrap</th>
                            <th style="border: 0.5px dotted;">Git</th>
                            <th style="border: 0.5px dotted;">API*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border: 0.5px dotted;">NoSQL databases</td>
                            <td style="border: 0.5px dotted;">Express</td>
                            <td style="border: 0.5px dotted;">Document object model</td>
                            <td style="border: 0.5px dotted;">Deploying Nodejs to Heroku</td>
                            <td style="border: 0.5px dotted;">Using built-in classes</td>
                            <td style="border: 0.5px dotted;">Using branches</td>
                            <td style="border: 0.5px dotted;">HTTP and RESTful</td>
                        </tr>
                        <tr>
                            <td style="border: 0.5px dotted;">Mongoose + Atlas cloud</td>
                            <td style="border: 0.5px dotted;">NodeJS</td>
                            <td style="border: 0.5px dotted;">Embedded JS templates</td>
                            <td style="border: 0.5px dotted;">Deploying with cloud DB</td>
                            <td style="border: 0.5px dotted;">Using Bootstrap themes</td>
                            <td style="border: 0.5px dotted;">Working with multiple repos (GitHub + Heroku)</td>
                            <td style="border: 0.5px dotted;">using PostMan</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <p>I had no experience with all of the above technologies, but I learned them and built the
                    app in 10 days.</p>
                <p><br></p>
                <p><br></p>
                <p align="center">
                    <img src="https://user-images.githubusercontent.com/60319236/176335704-d5f3058e-4bf7-456c-adae-b71722548b20.png"
                        height="600">
                </p>

                <p><br></p>
                <h1 id="-what-would-i-do-differently-">🧐 What would I do differently:</h1>
                <ul>
                    <li>Work on having Heroic working as soon as possible in the process to catch errors
                        early and easy</li>
                    <li>Start with a cloud database instead of switching from local to catch errors early
                        and easy</li>
                    <li>Add branches to my workflow</li>
                    <li>Spend time setting up proper links for CSS/JS files in BootStrap theme to work
                        seamlessly across all pages</li>
                </ul>
                <h1 id="-problems-i-faced-">🔧 Problems I faced:</h1>
                <ul>
                    <li>Deploying Error on Heroic -&gt; Heroku couldn&#39;t access the cloud database</li>
                    <li>Loading JS/CSS for pages with multiple directories in their path
                        (.com/directory1/directory2)</li>
                </ul>
                <p>&ast; While I did not eventually use APIs for this program, I researched and learned how
                    to use them, and built the famous weather app as a part of learning to create this
                    program. Adding an API to retrieve bugs could be a possible next step.</p>
                </p>
                <a href="#" class="btn btn-primary m-4 d"><i class="fa-brands fa-github"></i> GitHub
                    Repo</a>
            </div>
            <div class="card-footer text-muted">
                Laith Alayassa - June 2022
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('partials/footer.ejs') %> 