<%- include('partials/header.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Account view</h1>

                </div>
                <!-- /.container-fluid -->


<%- include('partials/footer.ejs') %> 