<%- include('partials/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800 pl-2">About this project</h1>

        <div class="card">
            <div class="card-header">
                <strong>BugTracktor</strong> - a simple bug tracker
            </div>
            <div class="card-body">
                <p class="card-text m-4 mt-5">
                <h1 id="bugtracktor">BugTracktor</h1>
                <p><img width="1000" src="img/help-new-bug.png" alt="bugtracktor"></p>
                <p><br></p>
                <h2>Creating a new bug</h2>
                <p>
                    To create a new bug, navigate to the <code>New Bug</code> section
                </p>
                <br>
                <h2 Fill in information </h2>
                    <p><img width="750" alt="bugtrackerview" src="img/new-bug-view.png">
                    </p>

                    <h2>Finding bug list</h2>

                    <img width="1000" src="img/help-projects-view.png" alt="">
                    <img width="1000" src="img/find-bug.png" alt="">
                    <a href="https://github.com/Laith-Alayassa/bug-tracker" class="btn btn-primary m-4 d"><i class="fa-brands fa-github"></i> GitHub
                        Repo</a>
            </div>
            <div class="card-footer text-muted">
                Laith Alayassa - June 2022
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('partials/footer.ejs') %>