<%- include('partials/header.ejs') %>

                <!-- Begin Page Content -->
                <script src='../plot.js'></script>
            </head>
            
            <body>
                <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
            </body>

<%- include('partials/footer.ejs') %> 