<%- include('partials/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->

        <h1>Current Projects:</h1>
        <br>
        <br>

        <div class="row">
            <% projectList.forEach((project, i)=> { %>
                <div class="col">
                    <div class="card">
                        <div class="shadow-sm card-header">
                            <h1>
                                <a href="/project/<%= project._id %> ">
                                    <%= project.name %>
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>
    </div>

    </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('partials/footer.ejs') %>